<!DOCTYPE html>
<html>
	<head>
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	</head>
	<body>
		<h1>Can you figure out Joe's Spirit Animal?</h1>
			<!-- WORKING INPUTS: Joe, Nick, Monica -->
			<p>Find someone's spirit animal: </p>
			<form action="/results" method="post">
				<input type="text" name="names">
				<input type="submit">
			</form>
	</body>
</html>
